/* Styling main element with class accio and id job */
#job.accio {
  width: 150px;
  height: 150px;
  background-color: #000000; /* black */
}

/* Styling paragraph inside */
.hello-accio {
  color: #ffffff;      /* white text */
  margin-left: 32px;
  padding: 10px;
}
